<!DOCTYPE html>
<html>
<head>
    <title>ToDo App</title>
</head>
<body>
    <div>
        <h1>Things to do</h1>
        <form action="/add" method="POST">
            <label>To Do</label>
            <input name="title" type="text" placeholder="Enter text">
            <br>
            <button>Add</button>
        </form>
    </div>

    {% for todo in todo_list %}
    <p>{{ todo.id }} {{ todo.title }} </p>

        {% if todo.complete == True %}
        <span>complete</span>
        {% else %}
        <span>not complete</span>
        {% endif %}

        <a href="/update/{{todo.id}}">Update</a>
        <a href="/delete/{{todo.id}}">Delete</a>

    {% endfor %}
    
</body>
</html>